.slider {
  position: relative;
  width: 900px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #12f2f1;
  padding: 10px;
}

.prev {
  left: 10px;
  border-radius: 10px;
  background-color: #12f2f1;
  padding: 10px;
}

.next {
  right: 10px;
}


@media (max-width: 900px){
  .slider{
    width: 100%;
  }
}

@media (max-width: 500px){
  .slider h2{}
}
